<template>
  <div id="app">
    <mainMenu></mainMenu>
    <div class="main-content">
      <router-view></router-view>
    </div>
    <mainfooter></mainfooter>
  </div>
</template>

<script>
  import mainMenu from './components/Menu'
  import mainfooter from './components/Footer'
  export default {
    name: 'app',
    components: {
      mainMenu,
      mainfooter
    }
  }
</script>

<style>
  #app {
    overflow: hidden;
  }
</style>
