<template>
  <footer>
    <div class="row">
      <div>
        <h2>Contact</h2>
        <p><a href="mailto:jux.draws@gmail.com">jux.draws@gmail.com</a></p>
        <h2>About</h2>
        <p>Jux is a Melbourne-based illustrator and
        designer, currently completing a Bachelor
        of Design (Communication Design) at RMIT
        University.</p>
      </div>
      <div class="social-holder">
        <h2>Socials</h2>
        <div>
          <a class="social" href="http://juxtacombination.tumblr.com/" target="_window">Ä</a>
          <a class="social" href="#" target="_window">Æ</a>
          <a class="social" href="https://www.instagram.com/juxtacombination/" target="_window">À</a>
        </div>
      </div>
      <div class="copyright">
        <p>all images &copy; juxtacombination.net</p>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    name: 'footer',
    components: {
    },
    data () {
      return {

      }
    },
    created: function () {
    },
    computed: {
    }
  }
</script>

<style lang='scss'>
  footer {
    min-height: 300px;
    background-color: #404040;
    position: relative;
    z-index: 1000;
    padding: 30px 0px;

    h2 {
      color: #fff;
      font-size: 22px;
      margin-bottom: 20px;
      margin-top: 10px;
      font-style: normal;
      font-weight: 300;
    }

    p {
      color: #fff;
      font-size: 16px;
      font-weight: 300;
      max-width: 300px;
      width: 100%;

      a {
        color: #fff;
        font-weight: 300;
      }
    }

    .social-holder {
      max-width: 240px;
      width: 100%;
      margin: 50px 0 20px;
      border-top: none;

      a.social {
        color: #fff;
        font-size: 31px;
        font-family: 'social_shapesregular';
      }
    }

    .copyright {
      border-top: 2px solid #fff;
      margin-top: 30px;
      text-align: center;
      width: 100%;

      p {
        margin: 40px auto 10px;
      }
    }
  }
</style>
