<template>
  <div>
    <parallax :fixed="true" class="front banner">
      <div class="main-banner">
        <div class="overlay">
          <img class="logo" src="../assets/img/logo-white.png"/>
          <h1 class="europa name">juxtacombination</h1>
          <div class="social-holder">
            <h2>illustration + design</h2>
            <div>
              <a class="social" href="http://juxtacombination.tumblr.com/" target="_window">Ä</a>
              <a class="social" href="#" target="_window">Æ</a>
              <a class="social" href="https://www.instagram.com/juxtacombination/" target="_window">À</a>
            </div>
          </div>
        </div>
        <div class="background">
          <!-- <img src="assets/img/main-banner.png"/> -->
        </div>
      </div>
    </parallax>
    <parallax class="front content">
      <projects></projects>
    </parallax>
  </div>
</template>

<script>
  import Projects from './Projects'
  import Parallax from 'vue-parallaxy'
  export default {
    name: 'Home',
    components: {
      Projects,
      Parallax
    },
    data () {
      return {
      }
    }
  }
</script>

<style lang='scss'>
  .front {
    z-index: 1000 !important;

    &.Masthead {
      &.banner {
        height: 55vh !important;
        max-height: 55vh;
        min-height: 500px;

        > div {
          top: 80px;
        }
      }

      &.content {
        height: auto !important;
        > div {
          position: relative;
        }
      }
    }
  }
  .content {
    background-color: #fff;
  }
  .social-holder {
    max-width: 240px;
    width: 100%;
    margin: 0 auto 20px;
    border-top: 1px solid #fff;

    h2 {
      color: #fff;
      font-size: 22px;
      margin-bottom: 0px;
      margin-top: 10px;
    }

    a.social {
      color: #fff;
      font-size: 31px;
      font-family: 'social_shapesregular';
    }
  }
</style>
