<template>
  <header>
    <div class="row">
      <nav class="main-nav">
        <ul>
          <li v-bind:class="{active: currentRoute == 'home' || currentRoute == 'project'}">
            <router-link :to="'/'">Portfolio</router-link>
          </li>
          <li v-bind:class="{active: currentRoute == 'contact'}">
            <router-link :to="'/contact'">Info + Contact</router-link>
          </li>
          <li v-bind:class="{active: currentRoute == 'shop'}">
            <router-link :to="'/shop'">Shop</router-link>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</template>

<script>
  export default {
    name: 'main_menu',
    components: {
    },
    data () {
      return {

      }
    },
    created: function () {
    },
    computed: {
      currentRoute () {
        const current = this.$route.name
        return current
      }
    }
  }
</script>


<style lang='scss'>

</style>
