<template>
  <div class="pojects">
    <h2>Selected Works</h2>
    <div class="work-list-holder">
      <ul class="work-list">
        <li v-for="project in projectData">
          <router-link :to="'/project/' + project.slug">
            <img v-bind:src="project.cover_img">
            <h3 class="europa">{{ project.title }}</h3><span class="date">{{ project.create_date | formatDate}}</span>
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  import projectData from '../assets/data.json'
  import moment from 'moment'
  export default {
    name: 'projects',
    data: function () {
      return {
        projectData: projectData
      }
    },
    filters: {
      formatDate: function (value) {
        if (value) {
          return moment(String(value)).format('LL')
        }
      }
    }
  }
</script>

<style lang="scss">

</style>
