<template>
  <div class="project">
    <div class="project-nav">
      <div class="prev">
        <router-link :to="'/project/' + prevProject.slug" class="project-link">
          <i class="icono-arrow left"></i>
        </router-link>
        <div class="preview">
          <h3>Prev Work</h3>
          <span class="name">{{ prevProject.title }}</span>
          <span class="date">{{ prevProject.create_date | formatDate}}</span>
          <img :src="prevProject.cover_img">
        </div>
      </div>

      <div class="project-title">
        <h2>{{ project.title }}</h2>
        <span class="date">{{ nextProject.create_date | formatDate}}</span>
      </div>

      <div class="next">
        <router-link :to="'/project/' + nextProject.slug" class="project-link">
          <i class="icono-arrow right"></i>
        </router-link>
        <div class="preview">
          <h3>Next Work</h3>
          <span class="name">{{ nextProject.title }}</span>
          <span class="date">{{ nextProject.create_date | formatDate}}</span>
          <img :src="nextProject.cover_img">
        </div>
      </div>
    </div>
    <div class="project-details">
      <ul class="project-img-list">
        <li v-for="(img, index) in project.images">
          <img :src="img.img_url">
          <p>{{img.title}}</p>
          <p>{{img.description}}</p>
        </li>
      </ul>
      <div class="project-description">
        <h3 class="europa title-year">{{ project.title }}</h3>
        <p class="project-medium" v-html="project.medium"></p>
        <p class="project-desc" v-html="project.description"></p>
      </div>
    </div>
  </div>
</template>
<script>
  import projectData from '../assets/data.json'
  import moment from 'moment'
  export default {
    name: 'project',
    data: function () {
      return {
        projectData: projectData,
        project: null,
        currentIndex: null
      }
    },
    created: function () {
      var vm = this
      vm.getProject(vm.projectData, vm.$route.params.project_slug)
    },
    methods: {
      getProject: function (arr, value) {
        var vm = this
        vm.project = arr.find(function (item) { return item.slug === value })
        vm.currentIndex = vm.projectData.findIndex(item => item.slug === value)
      }
    },
    computed: {
      nextProject: function () {
        var vm = this
        if (vm.currentIndex === vm.projectData.length - 1) {
          return vm.projectData[0]
        } else {
          return vm.projectData[vm.currentIndex + 1]
        }
      },
      prevProject: function () {
        var vm = this
        if (vm.currentIndex === 0) {
          return vm.projectData[vm.projectData.length - 1]
        } else {
          return vm.projectData[vm.currentIndex - 1]
        }
      }
    },
    watch: {
      $route: function () {
        var vm = this
        vm.getProject(vm.projectData, vm.$route.params.project_slug)
      }
    },
    filters: {
      formatDate: function (value) {
        if (value) {
          return moment(String(value)).format('LL')
        }
      }
    }
  }
</script>
<style lang='scss'>
  @import "../assets/styles/scss/_mixin_tracking.scss";

  .project {
    max-width: 800px;
    margin: 0 auto;
  }

  .project-details {
    text-transform: capitalize;
    background-color: #fff;
    padding-top: 50px;

    h2 {
      margin-top: 0px;
    }
  }

  .project-img-list {
    li {
      margin-bottom: 12px;

      img {
        max-width: 100%;
        width: 100%;
      }
    }
  }

  .project-description {
    text-align: left;
    margin-bottom: 200px;

    h3 {
      @include tracking(0);
      font-weight: 400;
      font-size: 15px;
      margin-bottom: 0px;
      text-transform: capitalize;
    }

    p.project-medium {
      font-size: 13px;
      font-weight: 300;
      margin: 0px;
      text-transform: none;
    }

    p.project-desc {
      font-size: 15px;
      font-weight: 300;
      text-transform: none;
    }
  }

  .icono-arrow {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #666;
    box-sizing: border-box;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-bottom-color: transparent;
    border-left-color: transparent;
    margin: 10px;

    &:after, &:before {
      content: "";
      box-sizing: border-box;
    }

    &:hover {
      cursor: pointer;
    }

    &:before {
      right: 0;
      top: -3px;
      position: absolute;
      height: 4px;
      box-shadow: inset 0 0 0 32px;
      transform: rotate(-45deg);
      width: 30px;
      transform-origin: right top;
    }

    &.right {
      transform: rotate(45deg);
    }

    &.left {
      transform: rotate(-135deg);
    }
  }

  .project-nav {
    margin: 50px 0px 0px;
    position: relative;
    display: table;
    width: 100%;

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    .project-title {
      display: table-cell;
      z-index: 10;
      width: 40%;
      background-color: #fff;
      border-top: 1px solid;
      border-bottom: 1px solid;
      padding: 10px 0px;

      h2 {
        margin: 0px;
        width: 100%;
        max-width: 100%;
        border: 0px;
      }

      .date {
        font-size: 14px;
      }
    }

    .prev, .next {
      display: table-cell;
      position: relative;
      background-color: #fff;
      width: 30%;
      vertical-align: top;
      padding-top: 10px;

      .preview {
        @include transition(all .50s ease-in-out);
        position: absolute;
        line-height: 1;
        background-color: #fff;
        /*border: 1px solid #ccc;*/
        padding: 10px;
        width: 280px;
        /*display: none;*/
        top: -5px;
        opacity: 0;
        z-index: -1;

        &:after {
          content: "";
          display: block;
          clear: both;
        }

        h3 {
          display: block;
          width: 100%;
          padding: 0px 0 10px;
          margin: 0px;
          text-transform: capitalize;
          white-space: nowrap;
        }

        span {
          display: block;

          &.name {
            @include tracking(0);
            font-weight: 400;
            font-size: 15px;
            margin: 0px 0px 10px;
            text-transform: capitalize;
          }

          &.date {
            font-size: 13px;
            font-weight: 300;
          }
        }

        img {
          @include transition(all .50s ease-in-out);
          display: block;
          max-width: 150px;
          width: 150px;
        }
      }
    }
    .prev {
      /*float: left;*/
      text-align: left;

      h3 {
        text-align: right;
      }

      .preview {
        left: 0%;
        text-align: right;

        img {
          float: left;
          opacity: 0px;
          margin-left: 50%;
          margin-top: -50px;
        }
      }

      .project-link {

        &:hover {
          + .preview {
            left: -130%;
            display: block;
            opacity: 1;

            img {
              margin-left: 20px;
              margin-top: 0;
              opacity: 1px;
            }
          }
        }
      }
    }
    .next {
      /*float: right;*/
      text-align: right;

      .preview {
        right: 0%;
        text-align: left;

        img {
          float: right;
          opacity: 0;
          margin-right: 50%;
          margin-top: -50px;
        }
      }

      .project-link {

        &:hover {
          + .preview {
            right: -130%;
            display: block;
            opacity: 1;

            img {
              margin-right: 20px;
              margin-top: 0;
              opacity: 1;
            }
          }
        }
      }
    }
  }
</style>