<template>

</template>

<script>
  export default {
    name: 'shop',
    components: {
    },
    data () {
      return {

      }
    },
    created: function () {
    },
    computed: {
    }
  }
</script>

<style lang='scss'>

</style>