@font-face {
  font-family: 'social_shapesregular';
  src: url('../../fonts/social_shapes_0-webfont.woff2') format('woff2'),
       url('../../fonts/social_shapes_0-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

a {
  font-family: europa, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}

h1, h2, h3, h4 {
  font-family: essonnes-text, serif;
  font-style: italic;
  font-weight: 400;

  &.europa {
    @include tracking(-20);
    font-family: europa, sans-serif;
    font-style: normal;
    font-weight: 300;
  }
}