html, body {
  padding: 0px;
  margin: 0px;
}

.row {
  width: calc(100% - 30px);
  max-width: 770px;
  padding: 0 15px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

header {
  width: 100%;
  height: 85px;
  background: #fff;
  overflow: hidden;
  position: fixed;
  z-index: 2000;
  border-bottom: 1px solid #ccc;

  nav.main-nav {
    height: 85px;
    line-height: 85px;

    ul {
      text-align: right;
      li {
        display: inline-block;
        min-width: 118px;

        &:first-child {
          text-align: left;
          float: left;
        }

        &.active {
          a {
            font-weight: 700;
          }
        }
      }
    }
  }
}

.main-banner {
  width: 100%;
  height: 55vh;
  max-height: 55vh;
  min-height: 500px;
  overflow: hidden;
  position: relative;

  .overlay {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 55vh;
    max-height: 55vh;
    min-height: 500px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    text-align: center;

    .logo {
      max-width: 240px;
      width: 100;
      display: block;
      margin: 50px auto 0px;
    }

    h1.name {
      color: #fff;
      font-size: 40px;
      margin: 10px;
      font-weight: 300;
    }
  }

  .background {
    width: 100%;
    background: url(../../img/main-banner.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 55vh;
    max-height: 55vh;
    min-height: 500px;
    overflow: hidden;
  }
}

.main-content {
  overflow: hidden;
  text-align: center;
  margin-top: 85px;

  h2 {
    @include tracking(-8);
    display: inline-block;
    width: 100%;
    max-width: 240px;
    min-width: 240px;
    margin: 55px auto 20px;
    padding: 0px 0px 10px;
    border-bottom: 1px solid
  }

  div.work-list-holder {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    ul.work-list {
      display: block;
      width: 100%;

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      li {
        width: 31.25%;
        margin: 0px 1% 50px;
        text-align: left;
        line-height: 1;
        float: left;

        img {
          width: 100%;
        }

        h3 {
          @include tracking(0);
          font-weight: 400;
          font-size: 15px;
          margin-bottom: 0px;
          text-transform: capitalize;
        }

        span.date {
          font-size: 13px;
          font-weight: 300;
        }
      }
    }
  }
}